/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;                                                                       
}
/* Glass Navbar làm mờ nội dung bị che */
.glass-nav {
    background: rgba(255, 255, 255, 0.35); /* bán trong suốt */
    backdrop-filter: blur(8px); /* làm mờ phía sau */
    -webkit-backdrop-filter: blur(8px); /* Safari */
    border-bottom: 1px solid #ccc;
    z-index: 1050;
}

/*sujvhsiudvijdbv*/
/* ===== Container Form ===== */
.form-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

/* ===== Form login/register ===== */
.dangnhapform, .dangkyform {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s ease;
    opacity: 0;
    transform: translateX(100%);
}

.active-form {
    opacity: 1;
    transform: translateX(0);
}

.form-slide-left {
    transform: translateX(-100%);
    opacity: 0;
}

.form-slide-right {
    transform: translateX(100%);
    opacity: 0;
}

/* ===== Button Tab ===== */
.tab-container {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.btn-tab {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    transition: color 0.4s ease;
    position: relative;
    z-index: 2;
}

/* Thanh nền active trượt */
.tab-active-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #d4edda;
    border-radius: 5px;
    transition: all 0.5s ease;
    z-index: 1;
}

/* Input max-width */
input, select, textarea {
    max-width: 280px;
}
